https://pypi.python.org/packages/source/f/feedparser/feedparser-5.2.1.zip#md5=761df908e1f1b68eab53bbcb73d57352
https://pypi.python.org/packages/source/h/html2text/html2text-2016.1.8.tar.gz#md5=a1e9b15c2ad5643c95fe790fd4a5df61
git+https://github.com/Rapptz/discord.py@async